body {
  margin: 0;
  padding: 0;
  background-color: #fbfbfa;
}

section .ovale .violet {
  height: 90vh;
  width: 30vw;
  border-radius: 0% 0% 30% 30%;
  background: linear-gradient(#c941fe, #993afe);
}
section .ovale .violet .gsm {
  height: 70vh;
  width: 18vw;
  border-radius: 30px;
  background-color: #f4f3f9;
  border: 10px solid #fffeff;
  position: relative;
  left: 300px;
  top: 100px;
}
section .ovale .violet .gsm .nav {
  background-color: #993afe;
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0px 0px;
}
section .ovale .violet .gsm .nav .blanc {
  width: 150px;
  background-color: #fffeff;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 40px 40px;
}
section .ovale .violet .gsm .nav .logo {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}
section .ovale .violet .gsm .nav .logo .samu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section .ovale .violet .gsm .nav .logo .samu img {
  border-radius: 100%;
  border: 2px solid white;
  width: 40px;
  height: 40px;
  margin: 5%;
}
section .ovale .violet .gsm .nav .logo .samu h1 {
  font-size: 15px;
  margin: 10%;
  text-align: left;
}
section .ovale .violet .gsm .nav .logo .samu span {
  font-size: 6px;
  margin: 5%;
}
section .ovale .violet .gsm .nav .logo .samu i {
  margin: 10%;
  color: white;
}
section .ovale .violet .gsm .nav .logo .samu .worker {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .ovale .violet .gsm .nav .logo .samu .worker span {
  font-size: 12px;
  color: white;
}
section .ovale .violet .gsm .nav .logo .samu .worker p {
  font-size: 8px;
  color: #d978fe;
}
section .ovale .violet .gsm .nav .point {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
section .ovale .violet .gsm .bulle {
  background-color: #ece4f4;
  width: 100px;
  height: 35px;
  border-radius: 30% 30% 30% 0%;
  margin: 2%;
  display: flex;
  justify-content: center;
}
section .ovale .violet .gsm .bulle p {
  font-size: 8px;
  padding: 4%;
  color: #ae3efb;
}
section .ovale .violet .gsm .photo {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  margin-top: 10px;
}
section .ovale .violet .gsm .photo .chien {
  display: flex;
}
section .ovale .violet .gsm .photo .chien img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-right: 10px;
}
section .ovale .violet .gsm .photo .chienttxt {
  background-color: #ece4f4;
  width: 100px;
  height: 35px;
  border-radius: 30% 30% 0% 30%;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .ovale .violet .gsm .photo .chienttxt p {
  font-size: 8px;
  padding: 4%;
  color: #ae3efb;
}
section .ovale .violet .gsm .bulle2 {
  background-color: #ece4f4;
  width: 100px;
  height: 60px;
  border-radius: 30% 30% 30% 0%;
  margin: 2%;
  display: flex;
  justify-content: center;
}
section .ovale .violet .gsm .bulle2 p {
  font-size: 8px;
  padding: 4%;
  color: #ae3efb;
}
section .ovale .violet .gsm .bulle3 {
  background-color: #ae3efb;
  width: 200px;
  height: 30px;
  border-radius: 20px 20px 20px 0px;
  margin: 2%;
}
section .ovale .violet .gsm .bulle3 .bulle3txt {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .ovale .violet .gsm .bulle3 .bulle3txt p {
  font-size: 8px;
  color: white;
  margin: 4%;
  padding: auto;
}
section .ovale .violet .gsm .bulle3 .bulle3txt h1 {
  margin: auto;
  font-size: 15px;
  color: white;
  margin-left: 30%;
}